<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SimpleWebRTC Demo</title>

    <link rel="stylesheet" th:href="@{/static/rtc-demo/css/simpleWebRTCDemo.css}" />

</head>

<body>

    <h1>SimpleWebRTC Demo</h1>

    <p id="mediaMk"></p>
    <div style="width: 500px;height: 400px;border: 1px solid bisque;">
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
    </div>


        <form onSubmit="return false;">
            <input type="text" name="text" id="text"/>
            <input type="button" id="send" value="发送"/>
            <textarea id="messages" style="width: 1000px;height: 300px;display: block;"></textarea>
        </form>

    <script th:src="@{/static/rtc-demo/js/latest-v2.js}"></script>
    <script th:src="@{/static/rtc-demo/js/simpleWebRTCDemo.js}"></script>

</body>

</html>
