<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Netty-Websocket</title>
</head>
<body>
<form onSubmit="return false;">
    <label>ID</label><input type="text" name="uid" th:value="${uid}" /> <br />
    <label>消息</label><input type="text" id="message" name="message" value="" placeholder="这里输入消息" style="min-height: 250px;width: 1000px;"/> <br />
    <br /> <input id="btn" type="button" value="发送ws消息"
                  onClick="send(JSON.stringify({uid:this.form.uid.value,msg:this.form.message.value,type:1}))" />
    <hr color="black" />
    <h3>netty</h3>
    <textarea id="responseText" style="width: 1024px;height: 300px;"></textarea>
</form>
<script type="text/javascript">
    var uid = '[[${uid}]]'
        , indexType = '[[${indexType}]]'
        , wsUrl = '[[${wsUrl}]]';

    var socket=null,m=0,n=0;

    if(window.WebSocket){
        socket = new WebSocket(wsUrl + "?uid="+uid);

        socket.onmessage = function(event){
            // console.log("接收：" + (++m));

            var message = JSON.parse(event.data);
            var ta = document.getElementById('responseText');
            ta.value += "【" + message.uid + "】" +message.msg+"\r\n";
        };
        socket.onopen = function(event){
            var ta = document.getElementById('responseText');
            ta.value += "Netty-WebSocket服务器。。。。。。连接  \r\n";
        };
        socket.onclose = function(event){
            var ta = document.getElementById('responseText');
            ta.value += "Netty-WebSocket服务器。。。。。。关闭 \r\n";
        };
    }else{
        console.log("您的浏览器不支持WebSocket协议！");
    }
    function send(message){
        if(!window.WebSocket){return;}
        if(socket.readyState == WebSocket.OPEN){
            // console.log(uid+"send前buf："+socket.bufferedAmount);
            socket.send(message);
            // console.log(uid+"send后buf："+socket.bufferedAmount);
            // console.log("发送：" + (++n));
        }else{
            console.log("WebSocket 连接没有建立成功！");
        }
    }
</script>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/word.js}"></script>
<script>
    if(indexType==1){
        setTimeout(function () {
            wordAuto();
        },2000)
    }
</script>
</body>
</html>