body {margin: 0 auto;}
#localVideo {position: relative;top: 0;left: 350px;width: 150px;z-index: 2;}
#remoteVideos {position: relative;top: 0;width: 100%;z-index: 1;}
#remoteVideos video {width: 100%;z-index: 1;}
#mediaMk {position: relative;z-index: 2;font-size: 12px;}